<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.youtube.pro">

    <!-- Basic Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    
    <!-- Library App ke liye Camera (QR/Selfie) aur Storage permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/app_icon"
        android:roundIcon="@mipmap/app_icon"
        android:largeHeap="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">     
    
        <!-- 1. SPLASH SCREEN (MainActivity) -->
        <activity
            android:name=".MainActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme"
            android:exported="true"
            android:screenOrientation="portrait">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 2. LOGIN SCREEN (Ab yeh ekdum sahi jagah par hai) -->
        <activity 
            android:name=".LoginActivity" 
            android:exported="false"
            android:screenOrientation="portrait"/>
        
        <activity android:name=".RegisterActivity" android:screenOrientation="portrait"/>

        <activity android:name=".DashboardActivity" android:screenOrientation="portrait"/>
        

        <!-- 3. BACKGROUND NOTIFICATION SERVICE -->
        <service
            android:name=".ForegroundService"
            android:enabled="true"
            android:exported="false" />

    </application>
</manifest>
